
body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

/* Segments */
.segment {
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Social segment */
#social {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #3b5998;
  color: #fff;
  padding: 20px;
}

/* Create Post segment */
#createPost {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
}

#createPost > div {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#createPost label {
  font-size: 14px;
  font-weight: bold;
}

#createPost input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f0f2f5;
}

#createPost input[type="button"] {
  padding: 10px 20px;
  background-color: #3b5998;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* Posts segment */
#posts {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  padding: 20px;
}

/* Post */
.post {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  padding: 16px;
}

.postHeader {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.post_avatar {
  border-radius: 50%;
  margin-right: 16px;
  height: 50px;
  width: 50px;
}

.username_date {
  color: #65676b;
  font-size: 14px;
}

.postContent {
  margin-bottom: 16px;
}

.posttext {
  font-size: 18px;
}

.postComments {
  border-top: 1px solid #e9ebee;
  margin-top: 16px;
  padding-top: 8px;
}


*{
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 15pt;
  margin: 0px;
  padding: 0px;
}


#messages{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aqua;
    height:70%;
    width: 100%;
}
#createMessage{
    background-color: rgb(255, 174, 0);
    top:70%;
    height:30%;
    width:100%;
    
}
#createItemButton{
    font: large;
    height:12%;
    width:12%;
    background-color: white;
    margin: 10px;
}

#alias{
  padding: 10px;
  font: large;
  height:15%;
  width:20%;
  background-color: white;
  margin: 10px;
}

#message{
  padding: 10px;
  font: large;
  height:15%;
  width:30%;
  background-color: rgb(241, 242, 255);
  margin: 10px;
}

